.slider {
    width: 1080px;
    height: 400px; /* Height including padding top and bottom */
    background-color: #f8f8f8;
    margin: 0 auto; /* Auto horizontal centering */
    padding: 0; /* Padding top and bottom 0px, left and right 0px */
    box-sizing: border-box; /* Include padding in width and height */
    position: relative; /* Relative positioning for content */
    display: flex;  
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}

.slider img {
    max-width: 100%;
    height: 400px;
    transition: opacity 0.5s ease; /* Opacity transition animation */
    opacity: 1; /* Initial opacity */
    position: absolute; /* Absolute positioning for overlapping images */
}

.slider img.hidden {
    opacity: 0; /* Image with opacity 0 will be hidden */
}

/* Center .slider-content inside .slider */
.slider-content {
    max-width: 980px; /* Limit the width of the content */
    width: 100%;
    justify-content: center; /* Horizontal centering */
    display: flex; /* Use flex for precise alignment */
    align-items: center; /* Vertical centering */
    padding: 0; /* No padding */
}
